<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Movie Categorization</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="/static/assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
    
    <!-- Custom styles for this template -->
    <link href="/static/assets/css/grayscale.min.css" rel="stylesheet">

  </head>

  <body id="page-top">

    <!-- Header -->
    <header class="masthead">
      <div class="container d-flex h-100 align-items-center">
        <div class="mx-auto text-center">
          <h1 class="mx-auto my-0 text-uppercase">Movie</h1>
          <h1 class="mx-auto my-0 text-uppercase">Categorization</h1>
          <h2 class="text-white-50 mx-auto mt-2 mb-5">This site is used to classify movie based on its synopsis</h2>
          <a href="/apps/classification" class="btn btn-primary js-scroll-trigger">Start Classify</a>
        </div>
      </div>
    </header>

    <!-- About Section -->
    <section class="about-section text-center">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2 class="text-white mb-4">About K-Nearest Neighbor (KNN)</h2>
            <p class="text-white-50">
              This classification is using K-nearest neighbor (KNN) algorithm as classification model. 
              KNN is a type of supervised machine learning algorithms. It simply calculates the distance of 
              a new data point to all other training data points. The distance can be of any type e.g 
              Euclidean or Manhattan etc. It then selects the K-nearest data points, where K can be any 
              integer. Finally it assigns the data point to the class to which the majority of the K data 
              points belong.
            </p>
          </div>
        </div>
        <!-- <img src="img/ipad.png" class="img-fluid" alt=""> -->
      </div>
    </section>

    <!-- Bootstrap core JavaScript -->
    <script src="/static/assets/vendor/jquery/jquery.min.js"></script>
    <script src="/static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="/static/assets/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="/static/assets/js/grayscale.min.js"></script>

  </body>

</html>
